.h1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 36px; font-weight: bold; color: #666666}
.date {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bolder; color: #666666}

